element.style{
    position: absolute;
    top: 0;
    left: -9999px;
}
body{
    background-color: #fff;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
}
header#t3-header{}

.t3-header{
    padding: 0;
}